<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="franka_handshake">

  <!-- Use this if parameters are set from the launch file, otherwise delete -->

  <xacro:include
  filename="$(find franka_handshake_description)/urdf/franka_handshake/franka_handshake_macro.xacro" />
  <xacro:include
  filename="$(find franka_handshake_description)/urdf/franka_handshake/franka_handshake_macro.ros2_control.xacro" />

  <xacro:include filename="$(find mekahand_description)/urdf/mekahand/mekahand_macro.xacro" />

  <xacro:arg name="arm_id" default="panda"/> <!-- Name of this panda -->
  <xacro:arg name="hand" default="false"/> <!-- Should a franka_gripper be mounted at the flange?" -->
  <xacro:arg name="robot_ip" default=""/> <!-- IP address or hostname of the robot" -->
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>

  <!-- create link fixed to the "world" -->

  <link name="my_base" />
  <joint name="my_base_to_link0" type="fixed">
    <parent link="my_base" />
    <child link="panda_link0" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <xacro:if value="false">
    <link name="my_base" />
    <joint name="my_base_to_base" type="fixed">
      <parent link="my_base" />
      <child link="base" /> <!-- or whatever the root link of franka_robot is -->
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  </xacro:if>


  <xacro:include filename="$(find franka_handshake_description)/robots/panda/panda_arm.xacro" />
  <xacro:panda_arm arm_id="$(arg arm_id)" safety_distance="0.03" />

    <xacro:include filename="$(find franka_handshake_description)/robots/panda/panda_arm.ros2_control.xacro"/>
  <xacro:panda_arm_ros2_control ns="$(arg arm_id)" robot_ip="$(arg robot_ip)" use_fake_hardware="$(arg use_fake_hardware)" fake_sensor_commands="$(arg fake_sensor_commands)"/>


  <link name="ext_force" />
  <joint name="ext_force_joint" type="fixed">
    <parent link="panda_link7" />
    <child link="ext_force" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <gazebo reference="panda_link7">
    <system name="ApplyLinkWrench">

      <link_name>panda_link7</link_name>
      <wrench_topic>/external_handshake_wrench</wrench_topic>

    </system>
  </gazebo>

  <!-- Define the Meka Hand using the macro -->
  <!-- @TODO: The meka hand description is removed for now because it has multiple tip links.
  Either i have to patch the KDL ign plugin to accept a tip_link parameter, or i have to
  edit the URDF description so that the mekahand is passive and there are no active joints
  in it. This is to be done by copying the franka_ign_ros2_control and patching it in the way i like.
  The fail happens at the gravity compensation calculation. -->

  <!-- <xacro:mekahand prefix="" parent="panda_link8">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:mekahand> -->

</robot>
